PERSISTENT_STORAGE_PATH=./storage
GA_MEASUREMENT_ID=G-XXXXXXXXXX
SHICHUSUIMEI_KISO_SALES_START_AT=2026-07-24T17:30:00+09:00
KOUZA_LINE_URL=https://lin.ee/U8JMJPz
RESERVATION_RECIPIENT=info@fuchilabo.com
SENDGRID_API_KEY=
SENDGRID_FROM=info@fuchilabo.com
# SendGridを使用しない場合のみ、Gmailのアプリパスワードを設定してください
GMAIL_USER=
GMAIL_PASS=
# 公開前プレビューを使う場合のみ、推測されにくい値を設定してください
SHICHUSUIMEI_KISO_PREVIEW_KEY=
